extends ../layouts/admin-layout.pug

block content 
        // Begin Page Content
        .container-fluid
block scripts
    script(src="/js/admin/userPage.js")                                       
                                    
