html(lang='en' dir='ltr')
  head
    meta(charset='utf-8')
    title Admn Login | Campuskwiry
    link(href='/css/admin/adminlogin.css' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  body
      .wrapper
            block content